* {
  margin: 0;
  padding: 0;
}


.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .judul {
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }

  .content {
    width: 400px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;


    .content-head {
      height: 100%;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
    }

    .content-body {
      height: 100%;
      width: 65%;
      display: flex;
      justify-content: center;
      align-items: center;

      .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 5px;
        flex-direction: column;

        i {
          color: rgb(6, 240, 6);
        }

        .status{
          display: flex;
          gap: 10px;
        }
      }
    }

    .content-foot {
      height: 100%;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
      }
    }
  }
}

.container-holiday-parameter {
  .holiday-parameter {
    width: 100%;
    padding-top: 15px;
    height: max-content;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .wrappers {
      width: 95%;
      height: 90%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      .header {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        span {
          font-size: 20px;
          font-weight: bold;
        }

        .filter {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }

        button {
          padding: 3px 50px 3px 50px;
          background-color: black;
          color: white;
        }
      }
  
      .body {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: start;
  
        .table {
          width: 100%;
          height: max-content;

          .table-content {
            text-align: center;
            cursor: pointer;
            font-size: 15px;
          }
        }
      }

      .footer {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: end;

        .page{
          width: 200px;
          padding-top: 0 !important;
          margin-top: 0 !important;
        }

        .page .page-item.active .page-link {
          background-color: black;
          color: white; /* Set text color for better visibility */
        }
      }
    }
  }

  .tambah-data-container {
    width: 100%;
    padding: 0 0 20px 0;  

    .tambah-data-head {
      width: 100%;
      height: 50px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

      span {       
        font-size: 20px;
        font-weight: bold;
      }

      .button-wrapper {
        display: flex;
        gap: 20px;
        padding: 0 10px 0 10px;

        .add-button {
          padding: 3px 50px 3px 50px;
          background-color: black;
          color: white;
        }
        .reset-button {
          padding: 3px 50px 3px 50px;
          border: 1px solid black;
          color: black;
          background-color: white;
        }
      }
    }

    .tambah-data-body {
      width: 100%;
      height: 130px;
      margin-top: 5px;

      .add-holiday-parameter {
        width: 100%;
        height: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;        display: flex;
        justify-content: space-evenly;
        align-items: end;

        .holiday-input {
          height: 80px;
          display: flex;
        }

        .holiday-desc {
          width: 40%;
          height: 80px;
          display: flex;
          flex-direction: column;
          input {
            width: 100%;
          }
        }
      }
    }
  }
  
}

.authorization {
  .authorization-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: max-content;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrappers {
      width: 95%;
      height: 90%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      .head {
        width: 100%;
        height: 10%;
        font-size: 20px;
        font-weight: bold;

        span {
          font-size: 20px;
          font-weight: bold;
        }
      }
  
      .body {
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: start;
  
        .table {
          width: 100%;

          .table-content {
            text-align: center;
            cursor: pointer;
            font-size: 15px;
          }
        }
      }

      .footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: end;

        .page{
          width: 200px;
        }

        .page .page-item.active .page-link {
          background-color: black;
          color: white; /* Set text color for better visibility */
        }
      }
    }
  }
}